*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

.Cont_Products{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:  "Section_Filter_Products" min-content
                    "Section_ListProducts" 1fr / 1fr;
    gap: 10px;
    padding: 10px;
    overflow: hidden;
    
}

/*SECTION DEL INGRESO DE PRODUCTOS*/
.Section_FormProducts{
    grid-area: Section_FormProducts;
    background-color: #45593F;
    display: grid;
    border-radius: 10px;
    overflow-y: auto;
    padding: 10px;
}
.Section_FormProducts::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}
.Section_FormProducts::-webkit-scrollbar-thumb {
    background: #D99962;
    border-radius: 5px;
}
.Section_FormProducts::-webkit-scrollbar-thumb:hover {
    background: #e9ba95;

}
.Section_FormProducts::-webkit-scrollbar-corner {
    display: none;

}

/*SECTION DEL FILTRAR PRODUCTOS*/
.Section_Filter_Products{
    grid-area: Section_Filter_Products;
    border-radius: 50px;
    background-color: #617b8f;
    display: grid;
    grid-template: "filtro busqueda compras" 1fr / min-content 1fr min-content;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    box-shadow: 0 2px 4px 2px #00000033;
}
.filtro{
    grid-area: filtro;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.filtro label{
    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap;
}
.filtro select{
    width: 200px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: 0;
    border-radius: 50px;
    padding: 0 10px;

    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
}
.busqueda{
    grid-area: busqueda;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.busqueda input{
    width: 300px;
    height: 30px;
    outline: none;
    border: 0;
    border-radius: 50px;
    padding: 20px;

    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
}
.busqueda button{
    width: min-content;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: 0;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 2px 4px 2px #00000033;
    gap: 10px;


    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
}
.busqueda button:active{
    background-color: #dbdbdb;
    transform: scale(0.9);
}
.busqueda button svg{
    width: 20px;
    height: 20px;
}

.compras{
    grid-area: compras;
    overflow: hidden;
}
.compras button{
    width: min-content;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: 0;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 2px 4px 2px #00000033;
    gap: 10px;

    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
}
.compras button:active{
    background-color: #dbdbdb;
    transform: scale(0.9);
}
.compras button svg{
    width: 20px;
    height: 20px;
}


/*SECTION CARGAR TARJETAS*/
.Section_ListProducts{
    grid-area: Section_ListProducts;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 400px));
    grid-auto-rows: min-content;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    overflow-y: auto;   
}

.Section_ListProducts::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
.Section_ListProducts::-webkit-scrollbar-thumb {
    background: #D99962;
    border-radius: 5px;
}
.Section_ListProducts::-webkit-scrollbar-thumb:hover {
    background: #e9ba95;

}
.Section_ListProducts::-webkit-scrollbar-corner {
    display: none;

}