{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laberinto de Libros</title>
    <link rel="stylesheet" href="{% static 'Css/Store/Main.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Store/Products.css' %}">
    <link rel="icon" href="{% static 'Img/Logo.ico' %}">
</head>

<body>
    
    <div class="ContMain" id="ContMain">

        <section class="Section_Header">
            <a href="/" class="Logo">
                <img src="{% static 'Img/Logo.jpg' %}" alt="logo">
                <h1>Laberinto de Libros</h1>
            </a>

            <div class="NavOptions">
                <a href="/products/">Libros <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#000000" d="M0,19H5v5H3c-1.657,0-3-1.343-3-3v-2ZM5,5V0H3C1.343,0,0,1.343,0,3v2H5Zm7,0V3c0-1.657-1.343-3-3-3h-2V5h5ZM0,7v10H5V7H0Zm7,0v10h5V7H7Zm0,17h2c1.657,0,3-1.343,3-3v-2H7v5ZM13.424,7.478l3.639,10.944,5.412-1.795-3.639-10.944-5.412,1.795Zm4.27,12.841l.792,2.312c.348,1.048,1.48,1.615,2.528,1.267l1.615-.535c1.049-.348,1.617-1.481,1.268-2.529l-.791-2.309-5.412,1.795ZM12.793,5.58l5.412-1.795-.803-2.415c-.348-1.048-1.48-1.616-2.528-1.268l-1.615,.535c-1.048,.348-1.616,1.48-1.268,2.528l.803,2.415Z"/></svg> </a>
                <a href="/logout/">Salir <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#000000" d="M23.117,9.879l-4.95-4.95L16.046,7.05,19.5,10.5H6.617v3H19.5l-3.45,3.45,2.121,2.121,4.95-4.95A3,3,0,0,0,23.117,9.879Z"/><path d="M9.994,20.5a.5.5,0,0,1-.5.5H3.506a.5.5,0,0,1-.5-.5V3.531a.5.5,0,0,1,.5-.5H9.494a.5.5,0,0,1,.5.5V8.345h3V3.531a3.505,3.505,0,0,0-3.5-3.5H3.506a3.505,3.505,0,0,0-3.5,3.5V20.5a3.5,3.5,0,0,0,3.5,3.5H9.494a3.5,3.5,0,0,0,3.5-3.5V15.683h-3Z"/></svg></a>
            </div>
        </section>
        
        <section class="Section_Main">
            {% block content %}
            
            {% endblock %}
        </section>

    </div>
    

    <script type="module" src="{% static 'Js/Store/Main.js' %}"></script>

</body>

</html>